{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if site.Data.contact.contact.enable }}
<section class="section pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        
        <h3 class="mb-4">About us</h3>
        <p id="aboutdetails" style="color: black;"></p>
      

        <ul class="list-unstyled" style="color: black;">
          <li class="mb-3 mb-3 d-none color-black parmobile" style="color: black;"></li>
          <li class="mb-3 d-none color-black paremail" style="color: black;"></li>
          <li class="mb-3 d-none color-black parlocation" style="color: black;"></li>
        </ul>
      </div>
      <!-- offset-lg-1 -->
      <div class="col-lg-2 col-sm-6"></div>

      <div class="col-lg-5">
        <h3 class="
        mb-4">Contact us</h3>
        <form action="#">
          <input type="text" class="form-control mb-2" id="username" name="name" placeholder="Your Name">
          <p id="errornames" style="color: red;"></p>
          <input type="email" class="form-control mb-2" id="useremail" name="email" placeholder="Your Email">
          <p id="erroremils" style="color: red;"></p>
          <textarea name="message" id="message" class="form-control mb-2" placeholder="Your Message"></textarea>
          <p id="errormsges" style="color: red;"></p>
          <button type="button" onclick="sendEmail()" id="sendmaildone"  value="send" class="btn btn-block btn-outline-primary rounded">Send Now</button>
        </form>
      </div>
    </div>
  </div>
</section>
<style>
    .color-black a{
    color: black !important;
  }
</style>
<script>
  var pagenames = "contact";
</script>
{{ end }}



{{ end }}