{{ define "main" }}

{{ partial "page-title.html" . }}
<!-- <br> -->
<script>
  var pagesnames = 'product';
</script>
<script src="https://controllers.eralive.net/Controllers/productController.js"></script>

<section class="section pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mb-4 mb-lg-0">
        <!-- product image slider -->
        <div class="product-slider">
          {{ range .Params.Images }}
          <div data-image="{{ .image | absURL }}">
          <!-- <script>document.write('')</script> -->
          <img class="img-fluid mx-auto" src="{{ .image | absURL }}" style="height: 300px;" alt="{{ .Title }}">
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <h4 class="font-weight-medium"><script>document.write(decodeURIComponent('{{ .Title }}').replaceAll('+',' '))</script></h4>
        <span>Category: </span>
        <span><script>document.write(decodeURIComponent('{{ .Params.Category }}').replaceAll('+',' '))</script></span>
        <!-- rating star -->
       
        <div class="my-4">
          {{ if .Params.PriceBefore }}
          <s>PKR <script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.PriceBefore }}')))</script></s>
          {{ end }}
          <span class="lead text-primary font-weight-medium">PKR <script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.Price }}')))</script></span>
        </div>
        {{ if .Params.ShortDescription }}
        <h5>Short Description</h5>
        <p>
          <script>document.write(decodeURIComponent('{{ .Params.ShortDescription | markdownify }}').replaceAll('+',' '))</script>
          </p>
          {{end}}
      
          

        <button class="btn btn-primary" id="modalActivate" data-item-id="{{ .Params.ProductID }}"
        data-item-name="{{ .Title }}" {{ range first 1 .Params.Images }} data-item-image="{{ .image | absURL }}"
        {{ end }} data-item-price="{{ .Params.Price }}" id="add_to_cart" data-item-url="{{ .Permalink }}"
        data-item-description="{{ .Description }}"
        onclick="Check({{ .Params.ProductID }},{{ .Title }},{{ .Params.Description }},{{ .Params.Price }}
        ,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1)">
        Add to cart
      </button>
      

      <span class="whatsappallow d-none">
        <a href="#" id="whatsapp{{ .Params.ProductID }}" onclick="whatsapp('{{ .Params.ProductID }}','{{ .Title }}')" class="btn btn-primary" target="_blank">
          <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 20px;"></i></a>          
      </span>
      </div>
      <!-- <div class="col-12 mt-5">
        <ul class="nav nav-tabs border-bottom-0" id="myTab" role="tablist">
          <li class="nav-item mr-3">
            <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
              aria-controls="description" aria-selected="true">Description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
              aria-selected="false">Reviews</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="content">{{ .Content }}</div>
          </div>
          <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
            {{ template "_internal/disqus.html" . }}
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<style>
  .slick-dots li .img-fluid{
    height: 100px;
  }
</style>


{{ end }}
