{{ define "main" }}
<script>
  var pagenames = "track";
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>  


<div class="container pt-3">

    <div class="row">
        <div class="col-lg-3 col-12 mb-3">
              
            
        </div>
        <div class="col-lg-4 col-8 mb-4">
           
                
                    <input type="text" class="form-control" id="trackid" aria-describedby="helpId" placeholder="Enter order id">
           
            
        </div>
        <div class="col-lg-4 col-3 mb-4">
            <button class="btn btn-sm btn-secondary" id="trackbtndone" onclick="track()">track</button>
             
            
        </div>
    </div>

    <div class="table-responsive">
        <table class="table" id="producttrack" style="white-space: nowrap;">
          <thead>
            <tr>
              <th>Order date</th>
              <th>Total amount</th>
              <th>City</th>
              <th>Status</th>
              <th>Control</th>
            </tr>
          </thead>
            <tbody id="tabrownode">
              <tr>
                <td colspan="5" class="text-center"><img src="https://controllers.eralive.net/images/tracker.jpg" style="height: 250px;padding-top: 70px;"/><p style="margin-top: -15px;padding-bottom: 110px;">You can track your orders here!</p></td>
            
              </tr>
              
            </tbody>
            <tbody id="hidetable" style="display: none;">
            
            </tbody>
        </table>
        </div>
</div>



{{ end }}