<footer class="section pb-0">
  <hr>
  <div class="container">
    
   
    <div class="row">
      <div class="col-12 text-center py-4">
        
        <ul class="list-inline">
         
          <li class="list-inline-item d-none parmobile"></li>
          <li class="list-inline-item d-none paremail"></li>
          
      
          {{ range site.Params.social }}
          <li class="list-inline-item  d-none" id="{{ .itemid }}"><a href="{{ .link | safeURL }}" id="{{ .id }}"  target="_blank"><i class="{{ .icon }} text-color"></i></a></li>
          {{ end }}
        
      </ul> 
      <span>© 2021, by</span> <a href="https://turf.pk" class="text-color" style="font-weight: bold;" target="_blank">turf</a>
    </div>
    </div>
  </div>
</footer>

<style>
  /* .text-color{
    color: black !important;
  } */
  .text-color:hover{
    font-weight: bold;
    /* color: var(--font)!important; */
  }
  .modal-dialog-full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;

  }

  .modal-content-full-width {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: transparent !important
  }




  .quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
  }

  .quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
  }

  .quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
  }

  .quantity .minus,
  .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
  }

  .quantity .minus:hover,
  .quantity .plus:hover {
    background-color: #dad8da
  }

  .quantity .minus {
    bottom: 0
  }

  .shopping-cart {
    margin-top: 20px;
  }
</style>


<!-- Modal -->
<div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
  <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
    <!-- <div class="modal-content-full-width modal-content "> -->

      <div class="modal-body">
        <div class="table-responsive">
          <div class="container">
            <div class="card shopping-cart modal-content">
              <div class="card-header bg-white text-light" style="background-color: white;">
                <div class="row">
                  <div class="col-md-4 pt-2">
                    <span style="color:var(--body);vertical-align: middle"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      Cart
                    </span>
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <a  class="btn btn-outline-primary btn-sm pull-right" href="/">
                      <span aria-hidden="true">Continue shopping</a>
                    <div class="clearfix"></div>
                  </div>
                  
                </div>
            
               
              </div>
              <div class="card-body" style="height:450px;overflow-y: auto; overflow-x:hidden">

                <!-- PRODUCT -->
                <div id="product_Addid">
                  
                </div>
               
                
                
                <!-- PRODUCT -->
              </div>
          
              <!-- END PRODUCT -->
              <div class="pull-right" style="margin: 10px">
                <a href="#"  onClick="checkoutbtc();" class="btn btn-outline-primary pull-right">Checkout  <i class="fa fa-angle-right"></i></a>
                <div class="pull-right" style="margin: 13px">
                  Total price: <b><span id="pricedonefotter">0</span></b>
                </div>
              </div>
            </div>

            
          </div>
        </div>
      </div>



  <!-- </div> -->
</div>
</div>
<script>
  var foternameallow = 'fotter';
</script>
<script src="/javascript/social_links.js"></script>
<script src="https://controllers.eralive.net/Controllers/homeController.js"></script>
<script src="https://controllers.eralive.net/Controllers/layoutsController.js"></script>

<script src="https://controllers.eralive.net/Controllers/headerController.js"></script>
<script src="https://controllers.eralive.net/Controllers/footerController.js"></script>
<script src="https://controllers.eralive.net/Controllers/dashboardController.js"></script>
<script src="https://controllers.eralive.net/Controllers/trackerController.js"></script>
<script src="https://controllers.eralive.net/Controllers/contactController.js"></script>
<script src="https://controllers.eralive.net/Controllers/checkoutController.js"></script>



<script src="https://controllers.eralive.net/Controllers/sliderController.js"></script>
{{ with site.Params.snipcartApiKey }}
{{ "<!-- Snipcart -->" | safeHTML }}
<div id="snipcart" data-api-key="{{ . }}" hidden></div>
{{ end }}

{{ "<!-- Google Maps API -->" | safeHTML }}
<script src="{{ site.Params.gmapAPI | absURL }}"></script>
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<script src="https://controllers.eralive.net/js/script.min.js"></script>




<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/toasty.js"></script>
