{{ define "main" }}


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>  

<div class="container pt-3">
    <div class="table-responsive">
        <table class="table" id="productorder">
            <thead>
                
                <tr>
                    <th>Order id</th>
                    <th>Total amount</th>
                    <th>City</th>
                    <th>Status</th>
                    <th>Order date</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody>
                
               
            </tbody>
        </table>
        </div>
</div>


<script>
    var pagenames = "dashboard";
</script>

{{ end }}